<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @web_survey.title %>
</p>

<p>
  <strong>Shortlink slug:</strong>
  <%= @web_survey.shortlink_slug %>
</p>

<%= link_to 'Edit', edit_web_survey_path(@web_survey) %> |
<%= link_to 'Back', web_surveys_path %>
