#survey.row
  .survey-container.col-md-4
    .survey-header
      = @web_survey.title.presence || 'Untitled Survey'


    .survey-body
      = form_for @response, url: create_response_path, method: :POST do |f|
        = f.fields_for :respondent, Respondent.new do |r|
          .form-group.row
            .col-sm-3
              = r.label 'Your name (Optional)', class: "control-label"

            .col-sm-9
              = r.text_field :name, autofocus: true, class: 'form-control'

        = f.fields_for :answers, @response.answers do |g|
          .form-group.row
            .col-sm-3
              = g.label g.object.question.question, class: "control-label"

              - if not g.object.question.is_default?
                <sup class="question-by-admin glyphicon glyphicon-info-sign" data-toggle='tooltip' title='This question was added by the administrator'></sup>

            .col-sm-9
              - if g.object.question.type == 'text_area'
                = g.text_area :answer, class: 'form-control'
              - else
                = g.text_field :answer, class: 'form-control'

          = g.hidden_field :question_id, value: g.object.question.id

        .form-group.row.actions
          = f.submit "Respond", class: 'btn btn-primary'

    .survey-subtext
      © Powered by Web Survey
