%p#notice= notice
%h1 Listing Responses
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @responses.each do |response|
      %tr
        %td= response.name
        %td= link_to 'Show', response
        %td= link_to 'Edit', edit_response_path(response)
        %td= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Response', new_response_path
